* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --white-color: white;
  --main-color: #13145f;
  --second-color: #808286;
  --shadow-color: #b15890;
}

body {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

/* general tags styles */
img {
  max-width: 100%;
}
select {
  border: none;
  outline: none;
}
ul{
  margin-bottom: 0;
}
li {
  list-style-type: none;
}

a{
  text-decoration: none;
}
a:focus {
  outline: 0;
}

i{
  cursor: pointer;
}
.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  border: none !important;
}
.btn:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}
/* ../general tags styles */

/* =====sections styles==== */

/*landing-page */
.landing-page {
  overflow: hidden;
}

.layout {
  background-image: url("../images/land-bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-icons i:hover {
  color: var(--main-color);
}

/* navbar */
.navbar-expand-lg .navbar-nav {
  margin: 0 auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #a087b6 !important;
}
.lang-select {
  border: none;
  margin: 0 10px;
}
.lang-select:focus {
  border: none;
  text-decoration: none;
  outline: 0;
  
}
/* ../navbar */

/* contact overlay*/
.overlay-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  padding: 80px 100px;
  overflow: hidden;
  box-sizing: border-box;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 500ms;
}

.close-btn {
  position: absolute;
  top: 2.5%;
  right: 110px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  z-index: 200;
  background-color: #fff;
  color: black;
  width: 27.8px;
  height: 27.8px;
  text-align: center;
  border-radius: 50%;
}

.right-form {
  background-image: url(../images/side-contact.png);
  background-position: center;
  background-size: cover;
}

.overlay-contact .row {
  margin: 0px -56px !important;
}
/*../ contact overlay*/
/*../landing-page */















@media (max-width: 991.98px) {
  .contact-sections .col-12 {
    min-width: 300px;
  }

  .overlay-contact .row {
    margin: 0px -56px !important;
  }
  .help h1 {
    font-size: 30px !important;
  }
}


/* default contact us */
.contact-big-section {
  background-image: url(../images/bg-contact.png);
}
.contact-sections {
  padding: 0 !important;
  margin: 0;
}



@media (max-width: 991.98px) {
  .close-btn {
    position: absolute;
    right: 181px;
  }
}

body.activeForm .overlay-form {
  z-index: 2;
  opacity: 1;
  top: 0px;
  height: 830vh;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 0ms;
}

/******************/

@media (max-width: 991.98px) {
  .btn-start {
    font-size: small;
  }
}

.bg-light {
  background-color: var(--white-color) !important;
}
.navbar-expand-lg .navbar-nav {
  margin: 0 left !important;
}

.layout .icons {
  display: flex;
  padding: 10px 0px;
  color: var(--white-color);
  justify-content: space-between;
}
.layout .icons .email-icons i {
  margin-left: 10px;
}
.layout .icons .social-icons i {
  margin-right: 12px;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 171px;
  justify-content: space-around;
  align-items: center;
}
.info-container img {
  width: 400px;
}
.info-container .text h1 {
  color: var(--white-color);
  font-size: 70px;
  font-weight: 900;
  line-height: 100px;
}
.info-container .text h2 {
  color: var(--main-color);
  background-color: #fff;
  width: fit-content;
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 900;
}
.info-container .text p {
  color: #fff;
}
.info-container .text button {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.3s;
  padding: 8px 23px;
  border: none !important;
  border-radius: 7px;
}
.info-container .text button i {
  margin-right: 2px;
}
.info-container .text button:hover {
  background-color: #fff;
  color: var(--main-color);
  transition: 0.5s ease-in-out;
}
.info-container .text .play i {
  color: var(--white-color);
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  font-size: 21px;
  font-weight: bold;
}
.info-container .text .play {
  color: var(--white-color);
  width: fit-content;
  padding: 2px;
  border: 2px dotted var(--main-color);
  border-radius: 50%;
  display: inline-flex;
  height: fit-content;
  margin-left: 19px;
}

.services-sec-2 {
  background-image: url(../images/interface.png);
}
.help {
  min-height: 100vh;
  align-items: center;
}
.help h1 {
  color: var(--main-color);
  font-size: 40px;
  text-align: center;
  padding: 20px 40px;
  font-weight: 900;
  position: relative;
  line-height: 4rem;
}
.help h1::after {
  content: "";
  position: absolute;
  box-shadow: 0 -11px 0 var(--shadow-color) inset;
  width: 20%;
  height: 10px;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.help .icon-img {
  text-align: center;
  transition: 0.3s;
  padding: 1.2rem 0;
  color: var(--white-color);
}
.help .icon-img:hover {
  background-image: url("../images/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease-in-out;
}
.help .icon-img img {
  width: 50px !important;
  margin-bottom: 5%;
}
.help .icon-img h6 {
  color: #8484ab;
}
.help .icon-info {
  border: 1px solid #eaeaea;
  transition: 0.3s;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px 10px;
}
.help .icon-info p {
  font-size: 14px;
  color: #808286;
}
.help .icon-info:hover {
  background-image: url("../images/about-us-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.help .icon-info:hover h6 {
  color: var(--white-color);
}
.help .icon-info h6 {
  color: #a5a6a9;
  padding: 10px;
  margin-bottom: 10px;
}
.help .icon-info p {
  color: #a5a6a9;
  padding: 12px;
}

.interface .icon-img {
  padding: 2.5rem 0 2.5rem 0;
  border: 1px solid #eaeaea;
}
.about-item {
  padding: 7px !important;
}
/* about interfaces */
.about-item {
  margin: 0 !important;
}

/* ***************** */
/* Projects */
.Projects {
  min-height: 100vh;
  align-items: center;
}

.project {
  padding-top: 50px;
}
.project .row {
  justify-content: space-around;
}

@media (min-width: 991.98px) {
  .project .row .col-md-4 {
    flex: 0 0 31.33333%;
    max-width: 31.33333%;
  }
}

.Projects .project-info {
  position: relative;
  transition: 0.5s;
  padding: 5px;
  border-radius: 8px;
  height: 434px;
}
.Projects .project-info .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  transition: 0.5s;
  top: 52%;
  left: 53%;
  height: 87%;
  opacity: 0;
  /* margin: 19px 20px; */
  border-radius: 7px;
  width: 87%;
  transform: translate(-50%, -50%);
}
.Projects .project-info:hover .overlay {
  opacity: 1;
}

.Projects .project-info:hover {
  top: 20px;
}

.Projects .project-info button {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.3s;
  position: absolute;
  margin-top: auto;
  padding: 8px 23px;
  border: none !important;
  border-radius: 7px;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 21px;
  width: 87%;
}
.Projects .project-info button i {
  margin-right: 2px;
}
.Projects .project-info img {
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
  width: 100%;
  margin: 8px;
}

/***************************************/

/* ouur team */

.team-img img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.team-member:hover,
.team-img:hover {
  top: 15px;
  transition: all 0.7s ease-in-out;
}

.team-details h5 {
  color: var(--white-color);
}
.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  bottom: 7%;
  left: 20px;
  margin: 0 auto;
  padding: 2%;
  overflow: hidden;
  width: 90%;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: var(--main-color);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.team-details p {
  color: var(--white-color);
}

.team-img:hover .team-details {
  opacity: 1;
}

.team-img:hover .overlay {
  opacity: 1;
}
.owl-nav {
  display: none;
}
.owl-theme .owl-dots {
  margin-top: 3%;
}
.owl-theme .owl-dots .active span {
  background-color: var(--main-color) !important;
}

/* 
location-section
 */

.location-section {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
  background-image: url(../images/about-us-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.locatin-desc {
  color: var(--white-color);
  text-align: center;
}

.agancy-site img {
  max-width: 50%;
}

/* contact */
.contact-form {
  margin: 0 auto;
  max-width: 700px;
  background-color: var(--white-color);
}
.input-bg {
  background-color: #efeff1;
}
.submit-btn {
  background-color: var(--main-color);
  color: var(--white-color);
}
.submit-btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* footer */

.footer-04 {
  background-image: url(../images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}
.footer-04 h4 {
  margin: 0;
  font-weight: 400;
  padding: 0;
  color: var(--white-color);
}

.footer-04 p {
  font-size: 15px;
  line-height: 30px;
  color: #898b96;
  font-weight: 300;
}
.ftco-footer-social {
  text-align: center;
}
.ftco-footer-social i:hover {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .footer-logo img {
    width: 20%;
  }
}

footer {
  padding: 7em 0;
}

.footer-04 {
  padding-bottom: 0;
}
.footer-04 .border-top {
  border-color: #1a1a1a !important;
  background: #1a1a1a;
}
.footer-04 .footer-heading {
  font-size: 13px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-04 .footer-heading .logo {
  letter-spacing: none;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}
.footer-04 p {
  color: rgba(255, 255, 255, 0.3);
}
.footer-04 a {
  color: #f7b633;
}
.footer-04 .ftco-footer-social li a {
  color: #fff;
}
.footer-04 .tagcloud a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.footer-04 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-04 .list-unstyled a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-04 .ftco-footer-social li a {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-04 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group input {
  background: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.3) !important;
  font-size: 16px;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-04 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 52px;
  height: 52px;
  font-size: 16px;
  background: #f7b633 !important;
  border: none;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group .submit:hover,
.footer-04 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}
.footer-04 .copyright a {
  color: rgba(255, 255, 255, 0.5);
}

/* end footer */

/* overlay form */
@media (max-width: 991.98px) {
  .overlay-contact .contact-sections .right-form {
    display: none;
  }
}
