* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --white-color: white;
  --main-color: #13145f;
  --second-color: #808286;
  --shadow-color: #b15890;
}

body {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

/* general tags styles */
img {
  max-width: 100%;
}
select {
  border: none;
  outline: none;
}
ul{
  margin-bottom: 0;
}
li {
  list-style-type: none;
}

a{
  text-decoration: none;
}
a:focus {
  outline: 0;
}

i{
  cursor: pointer;
}
.btn ,.submit-btn,.text button{
  background-color: var(--main-color);
  color: var(--white-color);
  border: none !important;
}
.btn:hover , .submit-btn:hover ,.text button:hover{
  color: var(--main-color);
  background-color: var(--white-color);
}
.bg-light {
  background-color: var(--white-color) !important;
}

.general-height {
  min-height: 100vh;
  align-items: center;
}

.general-height h1 {
  color: var(--main-color);
  font-size: 40px;
  text-align: center;
  padding: 20px 40px;
  font-weight: 900;
  position: relative;
  line-height: 4rem;
}

.general-height h1::after {
  content: "";
  position: absolute;
  box-shadow: 0 -11px 0 var(--shadow-color) inset;
  width: 20%;
  height: 10px;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ../general tags styles */

/* =====sections styles==== */

/*landing-page */
.landing-page {
  overflow: hidden;
}

.layout {
  background-image: url("../images/land-bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layout .icons {
  display: flex;
  padding: 10px 0px;
  color: var(--white-color);
  justify-content: space-between;
}

.social-icons i:hover {
  color: var(--main-color);
}

/* navbar */
.navbar-expand-lg .navbar-nav {
  margin: 0 auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #a087b6 !important;
}
.lang-select {
  border: none;
  margin: 0 10px;
}
.lang-select:focus {
  border: none;
  text-decoration: none;
  outline: 0;
  
}
/* ../navbar */

/* contact overlay*/
.overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 500ms;
}

body.activeForm .overlay-form {
  z-index: 2;
  opacity: 1;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 0ms;
}

.close-btn {
  position: fixed;
  top: 8%;
  right: 85px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 200;
  background-color: #fff;
  color: black;
  width: 27.8px;
  height: 27.8px;
  text-align: center;
  border-radius: 50%;
}

.right-form {
  background-image: url(../images/side-contact.png);
  background-position: center;
  background-size: cover;
}

.overlay-contact .row {
  margin: 0px -11px !important;
}

/*../ contact overlay*/
/*../landing-page */



/* slogan */
.slogan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* right slogan img */
.slogan-container img {
  max-width: 400px;
}
/* left slogan header*/
.slogan-container .text h1 {
  color: var(--white-color);
  font-size: 70px;
  font-weight: 900;
  line-height: 100px;
}
.slogan-container .text h2 {
  color: var(--main-color);
  background-color: #fff;
  /* new */
  width: fit-content; 
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 900;
}
.slogan-container .text p {
  color: #fff;
}
.slogan-container .text button {
  padding: 8px 23px;
  border-radius: 7px;
}
.slogan-container .text button i {
  margin-right: 2px;
}

/* ../slogan */

/* services-section-1 */
.services-sec-1 .icon-img {
  text-align: center;
  transition: 0.3s;
  padding: 1.2rem 0;
  color: var(--white-color);
}
.services-sec-1 .icon-img:hover {
  background-image: url("../images/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease-in-out;
}
.services-sec-1 .icon-img img {
  width: 50px !important;
  margin-bottom: 5%;
}
.services-sec-1 .icon-img h6 {
  color: #8484ab;
}
.services-sec-1 .icon-img{
  padding: 2.5rem 0 2.5rem 0;
  border: 1px solid #eaeaea;
}
/*../ services-section-1 */


/* services-section-2 */
.services-sec-2 {
  background-image: url(../images/interface.png);
}

.services-sec-2  .icon-info {
  border: 1px solid #eaeaea;
  transition: 0.3s;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px 10px;
}
.services-sec-2  .icon-info  h6 img{
  max-width: 50px;
}
.services-sec-2 .icon-info p {
  font-size: 14px;
  color: #808286;
}
.services-sec-2  .icon-info:hover {
  background-image: url("../images/about-us-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.services-sec-2  .icon-info:hover h6 {
  color: var(--white-color);
}
.services-sec-2 .icon-info h6 {
  color: #a5a6a9;
  padding: 10px;
  margin-bottom: 10px;
}
.services-sec-2  .icon-info p {
  color: #a5a6a9;
  padding: 12px;
}
.services-sec-2-item {
  padding: 7px !important;
  margin: 0 !important;
}
/* ../services-section-2  */

/* our Projects */
.Projects {
  min-height: 100vh;
  align-items: center;
}

.project {
  padding-top: 50px;
}
.project .row {
  justify-content: space-around;
}

.Projects .project-info {
  position: relative;
  transition: 0.5s;
  padding: 5px;
  border-radius: 8px;
  height: 434px;
}
.Projects .project-info .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  transition: 0.5s;
  top: 52%;
  left: 53%;
  height: 87%;
  opacity: 0;
  border-radius: 7px;
  width: 87%;
  transform: translate(-50%, -50%);
}
.Projects .project-info:hover .overlay {
  opacity: 1;
}

.Projects .project-info:hover {
  top: 20px;
}

.Projects .project-info button {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.3s;
  position: absolute;
  margin-top: auto;
  padding: 8px 23px;
  border: none !important;
  border-radius: 7px;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 21px;
  width: 87%;
}
.Projects .project-info button i {
  margin-right: 2px;
}
.Projects .project-info img {
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
  width: 100%;
  margin: 8px;
}

/*.. our Projects/*/

/* ouur team */

.team-img img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.team-member:hover,
.team-img:hover {
  top: 15px;
  transition: all 0.7s ease-in-out;
}

.team-details h5 {
  color: var(--white-color);
}
.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  bottom: 7%;
  left: 20px;
  margin: 0 auto;
  padding: 2%;
  overflow: hidden;
  width: 90%;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: var(--main-color);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.team-details p {
  color: var(--white-color);
}

.team-img:hover .team-details {
  opacity: 1;
}

.team-img:hover .overlay {
  opacity: 1;
}
.owl-nav {
  display: none;
}
.owl-theme .owl-dots {
  margin-top: 3%;
}
.owl-theme .owl-dots .active span {
  background-color: var(--main-color) !important;
}

/* location of agancy*/

.location-section {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
  background-image: url(../images/about-us-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.locatin-desc {
  color: var(--white-color);
  text-align: center;
}

.agancy-site img {
  max-width: 50%;
}
/* ../location of agancy*/

/* contact us in home page */
.contact-form {
  margin: 0 auto;
  max-width: 700px;
  background-color: var(--white-color);
}
.input-bg {
  background-color: #efeff1;
}
.contact-big-section {
  background-image: url(../images/bg-contact.png);
}
.contact-sections {
  padding: 0 !important;
  margin: 0;
}

/* ../contact us in home page */

/* footer */

.footer {
  background-image: url(../images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.footer h4 {
  font-weight: 400;
  color: var(--white-color);
}

.footer p {
  font-size: 15px;
  line-height: 30px;
  color: #898b96;
  font-weight: 300;
}
.ftco-footer-social {
  text-align: center;
}
.ftco-footer-social i:hover {
  color: var(--main-color);
}

.footer .footer-heading {
  font-size: 13px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer .footer-heading .logo {
  letter-spacing: none;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.footer .ftco-footer-social li a {
  color: #fff;
}

.footer .list-unstyled a {
  color: rgba(255, 255, 255, 0.7);
}

/*../ end footer */

/*all media query */
@media (max-width: 776px) {

  .social-icons{
    text-align: center;
  }
  
  .land-left-head{
    text-align: center;
  }
  .slogan-container .text h2{
    margin: 0 auto;
  }
  
  .general-height h1 {
    font-size: 30px !important;
    line-height: 2rem;
    padding: 32px 40px;

  }

  .overlay-contact .contact-sections .right-form {
    display: none;
  }
  .overlay-contact .row {
    margin: 0px -20px !important;
  }
  .close-btn {
    position: absolute;
    right: 44px;
    background-color: var(--main-color);
    color: var(--white-color);
}
  .btn-start {
    font-size: small;
  }
  .contact-sections .contact-desc{
    display: none;
  }
  .contact-sections .contact-content {
    max-width: 340px;
    margin: 0 auto;
    height: 180vw!important;
    overflow: hidden;
  }
  textarea{
    max-height: 50px;
    margin-top: 5px;
  }
  .footer-logo img {
    width: 20%;
  }



}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .general-height {
    min-height: 60vh;
  }
  .general-height h1 {
    font-size: 30px;
    padding: 20px 40px;
    font-weight: 700;
    line-height: 3rem;
  }
 }

